.statusPanel {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4.0em;
	z-index: 100;
	background-color: #B0241B;
	color: white;
}

.statusPanel.enabled {
	display: block;
}

button#revelation {
	padding: 1.0em 3.0em;
	background-color: #B0241B;
	color: white;
	border: none;
}
