.statusPanel {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 64px;
	z-index: 100;
	background-color: #B0241B;
	color: white;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5em 0.5em;
}

.statusPanel #auctionPreview {
	font-size: 120%;
	line-height: 1.2em;
}

.secret {
	display: none;
}
.secret.visible {
	display: unset;
}

/*.statusPanel.visible {
	display: block;
}*/

button#revelation {
	padding: 1.0em 3.0em;
}

button#connectionStatusIndicator {
	width: 6.0em;
	height: 64px;
 	padding: 0em 0.5em;
	margin: 0 0;
	background-color: #DDDDDD;
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	font-size: 125%;
	font-weight: bold;
}

button#connectionStatusIndicator .setting {
	font-size: 75%;
	color: black;
}

.demoForm {
	position: absolute;
	right: 0;
	top: 35%;
	width: 40%;
	margin: 0.5em 0.5em;
	padding: 0.5em 0.5em;
	box-sizing: border-box;
	border: 1px solid #DDDDDD;
}

button {
	background-color: #B0241B;
	color: white;
	border: none;
	padding: 0.2em 0.5em;
}

.requestLog ol {
	display: block;
	font-size: 75% !important;
	height: 6.0em;
	max-height: 6.0em;
	overflow: auto;
	width: 50%;
}

.codeSample {
	display: block;
	margin: 0.5em auto;
	padding: 0.5em 0.5em;
	box-sizing: border-box;
	border: 1px solid #DDDDDD;
	height: auto;
}

.slide .codeSample pre {
	white-space: pre;
	font-size: 60%;
	margin: 0 0;
}

img.right {
	position: absolute;
	top: 10%;
	right: 0;
	margin-right: 3.0em;
}